@model HomeLibraryApp.Models.RegisterViewModel
<div class="row">
    <div class="col xl8 l8 m6 s12">
        <h2>Build your very own library</h2>
        <p>HomeLibrary helps you manage your books collection.</p>
    </div>
    <div class="col xl4 l4 m6 s12">
        <div class="card">
            <div class="card-content">
                <form action="/Account/Register" method="post">
                    @Html.AntiForgeryToken()
                    <span class="card-title">Create a free account!</span>
                    <div class="row"></div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row"></div>
                            <div class="input-field">
                                @Html.TextBoxFor(m => m.UserName)
                                @Html.LabelFor(m => m.UserName)
                            </div>
                    
                    <div class="row"></div>
                        <div class="input-field">
                            @Html.TextBoxFor(m => m.Email)
                            @Html.LabelFor(m => m.Email)
                        </div>
                    
                    <div class="row"></div>
                        <div class="input-field">
                            @Html.PasswordFor(m => m.Password)
                            @Html.LabelFor(m => m.Password)
                        </div>
                    
                    <div class="row"></div>
                        <div class="input-field">
                            @Html.PasswordFor(m => m.ConfirmPassword)
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                    <div class="row"></div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Sign up" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>