<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                @Html.ActionLink("HomeLibrary", "Index", "Home", new { area = "" }, new { @class = "brand-logo" })
                @{Html.RenderAction("LoginPartial", "Account"); }
            </div>
        </nav>
    </div>
    <main>
        <div class="container body-content">
            @RenderBody()
        </div>
    </main>
    <footer id="footer" class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                &copy; @DateTime.Now.Year - HomeLibrary
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/myscripts")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function searchForBooks(page) {
            searchType = 'All'
            searchQuery = '';
            if (page == null) {
                page = 1;
            }
            $("[name='searchGroup'").each(function (index, element) {
                if ($(this).is(":checked")) {
                    searchType = $(this).next().html();
                }
            });
            searchQuery = $('#search-book-input').val();

            libraryId = $('#library-id').val();
            data = {};
            if (libraryId == "") {
                data = {
                    searchType: searchType,
                    query: searchQuery,
                    page: page
                }
            } else {
                data = {
                    searchType: searchType,
                    query: searchQuery,
                    page: page,
                    libraryId: libraryId
                }
            }
            $('.preloader-wrapper').show();
            $.ajax({
                url: '@Url.Action("GetSearchedBooks","Library")',
                data: data,
                success: function (result) {
                    $('#search-book-results').html(result);
                    $('.preloader-wrapper').hide();
                }
            });
        }
    </script>
</body>
</html>
