@using Microsoft.AspNet.Identity
@using HomeLibraryApp.Models
@model LoginViewModel


@if (Request.IsAuthenticated)
{

    <ul id="dropdown1" class="dropdown-content">
        <li>@Html.ActionLink("Your account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        <li class="divider"></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>


        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li id="topbarsearch-li">
                <div class="center row">
                    <div class="col s12 ">
                        <div class="row" id="topbarsearch">
                            <div class="input-field col s6 s12">
                                <i id="topbarsearch-icon" class=" material-icons prefix">search</i>
                                <input type="text" placeholder="search" id="topbarsearch-input">
                            </div>
                        </div>
                    </div>
                </div>
            </li> 
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Library", "Index", "Library")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                @Html.AntiForgeryToken()
            <a class="dropdown-trigger" href="#" data-target="dropdown1">@User.Identity.GetUserName()<i class="material-icons right">arrow_drop_down</i></a>
            }
            </li>
        </ul>

        
}
else
{

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>@Html.ActionLink("Sign in", "Login", "Account")</li>
            </ul>
            
}
