@model HomeLibraryApp.Models.LibraryBooksWithStates
    <div id="books-partial">
    @if (Model.BooksModel.Count() > 0)
    {
        <table class="highlight">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author's firstname</th>
                    <th>Author's lastname</th>
                    <th>Publisher</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @for(int i=0;i<Model.BooksModel.Count();i++)
                {
                    <tr class="clickable-row" data-href=@("/Library/Book?lib="+ViewBag.libraryId + "&bk="+ Model.BooksModel.ElementAt(i).Id.ToString())>
                        <td>@Model.BooksModel.ElementAt(i).Title</td>
                        <td>@Model.BooksModel.ElementAt(i).AuthorFirstname</td>
                        <td>@Model.BooksModel.ElementAt(i).AuthorLastname</td>
                        <td>@Model.BooksModel.ElementAt(i).Publisher</td>
                        <td>@Model.BooksStates.ElementAt(i)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div id="empty-library-container">
            <i id="empty-library-icon" class="material-icons">folder_open</i>

            <h5 id="empty-library-title">No books in this library</h5>
        </div>
    }
</div>