@model HomeLibraryApp.Models.LibrarySearchedBooks
<!--Confirm modal-->
<div id="search-book-confirm-modal" class="modal">
    @using (Html.BeginForm("Add", "Library", new { lib = ViewBag.LibraryId, type = "existing" }, FormMethod.Post,new { id = "confirm-form" }))
    {
        <input type="hidden" name="LenderFirstname">
        <input type="hidden" name="LenderLastname">
        <div class="modal-content">
            <h4>Confirm</h4>
            <p>Do you really want to add this book?</p>
            <input type="hidden" name="bookId" id="modalId">
            <div class="row">
                <div class="input-field col s12">
                    <input disabled value="" type="text" id="modalTitle">
                    <label for="modalTitle">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input disabled value="" type="text" id="modalFirstname">
                    <label for="modalFirstname">Author's firstname</label>
                </div>
                <div class="input-field col s6">
                    <input disabled value="" type="text" id="modalLastname">
                    <label for="modalLastname">Author's lastname</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input disabled value="" type="text" id="modalDate">
                    <label for="modalDate">Publication date</label>
                </div>
                <div class="input-field col s6">
                    <input disabled value="" type="text" id="modalPublisher">
                    <label for="modalPublisher">Publisher</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">No</a>
            <button type="button" onclick="addFormSubmit(this)" class="waves-effect waves-green btn-flat">Yes</button>
        </div>
    }
</div>
<!--Select library modal-->
<div id="search-book-select-library" class="modal">
    <div class="modal-content">
        <h4>Specify details</h4>
        <p>Select a library you want to add this book to</p>
        <input id="modal-details-id" type="hidden"/>
        <div class="row">
            <select id="library-select">
                <optgroup label="Your library">
                    <option value="@Model.Libraries.First().Id"> @Model.Libraries.First().Name</option>
                </optgroup>
                @if (Model.Libraries.Count() > 1)
                {
                    <optgroup label="Other">
                        @foreach (HomeLibraryApp.Models.Library library in Model.Libraries)
                        {
                            <option value="@library.Id">@library.Name</option>
                        }
                    </optgroup>
                }
            </select>
        </div>
        <p>Provide additional data if this book is borrowed</p>
        <p>
            <label id="borrowedLabel">
                <input id="borrowedCheckbox" type="checkbox" class="filled-in" onchange="if ($(this).is(':checked')) {
            $('#borrowedData').slideDown('fast');
        } else {
            $('#borrowedData').slideUp('fast');
        }"/>
                <span>Borrowed</span>
            </label>
        </p>
        <div id="borrowedData">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="LenderFirstname" type="text" name="LenderFirstname">
                    <label for="LenderFirstname">First name</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="LenderLastname" type="text" name="LenderLastname">
                    <label for="LenderLastname">Last name</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        <button type="button" class="waves-effect waves-green btn-flat" onclick="searchAddBookNext()">Ok</button>
    </div>
</div>

<div>
    @if (Model.Books.Count() > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (HomeLibraryApp.Models.Book book in Model.Books)
                {
                    string rowId = "bookRow" + book.Id.ToString();
                    string date = book.PublicationDate.HasValue ? book.PublicationDate.Value.ToString("MMM dd, yyyy") : "";
                    <tr id="@rowId" data-date="@date">
                        <td class="book-title">@book.Title</td>
                        <td>@(book.AuthorFirstname+" "+book.AuthorLastname)</td>
                        <td>@book.Publisher</td>
                        <td><input type="submit" value="Add" class="btn btn-default btn-right" onclick="searchBookAddClick(@book.Id,'@ViewBag.SourceView')" /></td>
                    </tr>
                }
            </tbody>
        </table>

        <input id="search-book-current-page" type="hidden" value="1" />
        <ul id="search-book-pagination" class="pagination">
            @{
                if (ViewBag.CurrentPage > 1)
                {
                    <li class="waves-effect" onclick="searchForBooks(@ViewBag.CurrentPage-1,'@ViewBag.SourceView')"><a><i class="material-icons">chevron_left</i></a></li>
                }
                else
                {
                    <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                }

                for (int i = 1; i <= ViewBag.PagesNr; i++)
                {
                    if (i == ViewBag.CurrentPage)
                    {
                        <li class="active" onclick="searchForBooks(@i,'@ViewBag.SourceView')"><a>@i</a></li>
                    }
                    else
                    {
                        <li class="waves-effect" onclick="searchForBooks(@i,'@ViewBag.SourceView')"><a>@i</a></li>
                    }
                }
                if (ViewBag.currentPage == ViewBag.PagesNr)
                {
                    <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                }
                else
                {
                    <li class="waves-effect" onclick="searchForBooks(@ViewBag.CurrentPage+1,'@ViewBag.SourceView')"><a><i class="material-icons">chevron_right</i></a></li>
                }
            }
        </ul>
                }
                else
                {
                    <div>
                        No results found
                    </div>
                }
</div>
