@model HomeLibraryApp.Models.LibrarySearchedBooks
<div id="search-book-confirm-modal" class="modal">
    @using (Html.BeginForm("Add", "Library", new { lib = ViewBag.LibraryId, type = "existing" }, FormMethod.Post))
    {
        <input type="hidden" name="LenderFirstname">
        <input type="hidden" name="LenderLastname">
        <div class="modal-content">
            <h4>Confirm</h4>
            <p>Do you really want to add this book to your library?</p>
            <input type="hidden" name="bookId" id="modalId">
            <div class="row">
                <div class="input-field col s12">
                    <input disabled value="" type="text" id="modalTitle">
                    <label for="modalTitle">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input disabled value="" type="text" id="modalFirstname">
                    <label for="modalFirstname">Author's firstname</label>
                </div>
                <div class="input-field col s6">
                    <input disabled value="" type="text" id="modalLastname">
                    <label for="modalLastname">Author's lastname</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input disabled value="" type="text" id="modalDate">
                    <label for="modalDate">Publication date</label>
                </div>
                <div class="input-field col s6">
                    <input disabled value="" type="text" id="modalPublisher">
                    <label for="modalPublisher">Publisher</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">No</a>
            <!--<input class="waves-effect waves-green btn-flat" type="submit" value="Yes" />-->
            <button type="button" onclick="addFormSubmit(this)" class="waves-effect waves-green btn-flat">Yes</button>
        </div>
    }
</div>
<div>
    @if (Model.Books.Count() > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author's firstname</th>
                    <th>Author's lastname</th>
                    <th>Publisher</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (HomeLibraryApp.Models.Book book in Model.Books)
                {
                    string rowId = "bookRow" + book.Id.ToString();
                    string date = book.PublicationDate.HasValue ? book.PublicationDate.Value.ToString("MMM dd, yyyy") : "";
                    <tr id="@rowId" data-date="@date">
                        <td>@book.Title</td>
                        <td>@book.AuthorFirstname</td>
                        <td>@book.AuthorLastname</td>
                        <td>@book.Publisher</td>
                        <td><input type="submit" value="Add" class="btn btn-default btn-right" onclick="searchBookAddClick(@book.Id)" /></td>
                    </tr>
                }
            </tbody>
        </table>

        <input id="search-book-current-page" type="hidden" value="1" />
        <ul id="search-book-pagination" class="pagination">
            @{
                if (ViewBag.CurrentPage > 1)
                {
                    <li class="waves-effect" onclick="searchForBooks(@ViewBag.CurrentPage-1,'@ViewBag.SourceView')"><a><i class="material-icons">chevron_left</i></a></li>
                }
                else
                {
                    <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                }

                for (int i = 1; i <= ViewBag.PagesNr; i++)
                {
                    if (i == ViewBag.CurrentPage)
                    {
                        <li class="active" onclick="searchForBooks(@i,'@ViewBag.SourceView')"><a>@i</a></li>
                    }
                    else
                    {
                        <li class="waves-effect" onclick="searchForBooks(@i,'@ViewBag.SourceView')"><a>@i</a></li>
                    }
                }
                if (ViewBag.currentPage == ViewBag.PagesNr)
                {
                    <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                }
                else
                {
                    <li class="waves-effect" onclick="searchForBooks(@ViewBag.CurrentPage+1,'@ViewBag.SourceView')"><a><i class="material-icons">chevron_right</i></a></li>
                }
            }
        </ul>
                }
                else
                {
                    <div>
                        No results found
                    </div>
                }
</div>
