@model HomeLibraryApp.Models.Book
<h4>Add a book</h4>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4"><a class="active" href="#new">New book</a></li>
            <li class="tab col s4"><a href="#existing">Existing book</a></li>
            <li class="tab col s4"><a href="#google">Google book</a></li>
        </ul>
    </div>
    <div id="new" class="col s12">
        @using (Html.BeginForm("AddNewBook", "Library", new { id = Url.RequestContext.RouteData.Values["id"] }))
        {
        <div class="row">
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.Title)
                @Html.LabelFor(m => m.Title)
            </div>
        </div>
        <div class="row">
            <div class="input-field col l6 s12">
                @Html.TextBoxFor(m => m.AuthorFirstname)
                @Html.LabelFor(m => m.AuthorFirstname)
            </div>
            <div class="input-field col l6 s12">
                @Html.TextBoxFor(m => m.AuthorLastname)
                @Html.LabelFor(m => m.AuthorLastname)
            </div>
        </div>
        <div class="row">
            <div class="input-field col l6 s12">
                @Html.TextBoxFor(m => m.PublicationDate, "{0: MMM dd, yyyy}", new { @class = "datepicker" })
                @Html.LabelFor(m => m.PublicationDate)
            </div>
            <div class="input-field col l6 s12">
                @Html.TextBoxFor(m => m.Publisher)
                @Html.LabelFor(m => m.Publisher)
            </div>
        </div>
        <input type="submit" value="Add" class="btn btn-default btn-right" />
        }
    </div>
    <div id="existing" class="col s12">
        <div class="input-field">
            <input id="search-book-input" name="Search" type="text" oninput="searchForBooks()"/>
            <label for="Search">Search</label>
        </div>
        <form id="form-search-book" action="#">
            <label for="searchAll">
                <input onclick="searchForBooks()" id="searchAll" name="searchGroup" type="radio" checked />
                <span>All</span>
            </label>
            <label for="searchTitle">
                <input onclick="searchForBooks()" id="searchTitle" name="searchGroup" type="radio"/>
                <span>Title</span>
            </label>
            <label for="searchAuthor">
                <input onclick="searchForBooks()" id="searchAuthor" name="searchGroup" type="radio" />
                <span>Author</span>
            </label>
            <label for="searchPublisher">
                <input onclick="searchForBooks()" id="searchPublisher" name="searchGroup" type="radio" />
                <span>Publisher</span>
            </label>
        </form>
        <div id="search-book-results">

        </div>
    </div>
    <div id="google" class="col s12">Test 4</div>
</div>