@model HomeLibraryApp.Models.Book
<h4>Add a book</h4>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4"><a class="active" href="#test1">New book</a></li>
            <li class="tab col s4"><a href="#test2">Existing book</a></li>
            <li class="tab col s4"><a href="#test4">Google book</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12">
        @using (Html.BeginForm("AddNewBook", "Library", new { id = Url.RequestContext.RouteData.Values["id"] }))
        {
        <div class="row">
            <div class="input-field col s12">
                @Html.TextBoxFor(m => m.Title)
                @Html.LabelFor(m => m.Title)
            </div>
        </div>
        <div class="row">
            <div class="input-field col l6 s12">
                @Html.TextBoxFor(m => m.AuthorFirstname)
                @Html.LabelFor(m => m.AuthorFirstname)
            </div>
            <div class="input-field col l6 s12">
                @Html.TextBoxFor(m => m.AuthorLastname)
                @Html.LabelFor(m => m.AuthorLastname)
            </div>
        </div>
        <div class="row">
            <div class="input-field col l6 s12">
                @Html.TextBoxFor(m => m.PublicationDate, "{0: MMM dd, yyyy}", new { @class = "datepicker" })
                @Html.LabelFor(m => m.PublicationDate)
            </div>
            <div class="input-field col l6 s12">
                @Html.TextBoxFor(m => m.Publisher)
                @Html.LabelFor(m => m.Publisher)
            </div>
        </div>
        <input type="submit" value="Add" class="btn btn-default btn-right" />
        }
    </div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test4" class="col s12">Test 4</div>
</div>