@model HomeLibraryApp.Models.LibraryAdd
<h4>Add a book</h4>
@{
    string type = Request.Params["type"] != null ? Request.Params["type"].ToString() : "";
}
@if (ViewBag.ErrorMsg != null)
{
    <h6>@ViewBag.ErrorMsg</h6>

}
<input type="hidden" id="library-id" value="@Request.Params["lib"]" />
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4"><a class="@((type=="" || type=="new" )? "active" :"")" href="#new">New book</a></li>
            <li class="tab col s4"><a class="@((type=="existing")? "active" :"")" href="#existing">Existing book</a></li>
            <li class="tab col s4"><a class="@((type=="goodreads") ? "active" :"")" href="#goodreads">Goodreads</a></li>
        </ul>
    </div>
    <div id="new" class="col s12">
        @using (Html.BeginForm("Add", "Library", new { lib = Request.Params["lib"], type = "new" }))
        {
            <div class="row">
                <div class="input-field col s12">
                    @Html.TextBoxFor(m => m.NewBookModel.Title)
                    @Html.LabelFor(m => m.NewBookModel.Title)
                </div>
            </div>
            <div class="row">
                <div class="input-field col l6 s12">
                    @Html.TextBoxFor(m => m.NewBookModel.AuthorFirstname)
                    @Html.LabelFor(m => m.NewBookModel.AuthorFirstname)
                </div>
                <div class="input-field col l6 s12">
                    @Html.TextBoxFor(m => m.NewBookModel.AuthorLastname)
                    @Html.LabelFor(m => m.NewBookModel.AuthorLastname)
                </div>
            </div>
            <div class="row">
                <div class="input-field col l6 s12">
                    @Html.TextBoxFor(m => m.NewBookModel.PublicationDate, "{0: MMM dd, yyyy}", new { @class = "datepicker" })
                    @Html.LabelFor(m => m.NewBookModel.PublicationDate)
                </div>
                <div class="input-field col l6 s12">
                    @Html.TextBoxFor(m => m.NewBookModel.Publisher)
                    @Html.LabelFor(m => m.NewBookModel.Publisher)
                </div>
            </div>
            <input type="submit" value="Add" class="btn btn-default btn-right" />
        }
    </div>
    <div id="existing" class="col s12">
        <div class="row nobmargin">
            <div class="input-field col xl8 l8 m6 s12">
                <input id="search-book-input" name="Search" type="text" oninput="searchForBooks()" />
                <label for="Search">Search</label>
            </div>
            <div class="input-field col xl4 l4 m6 s12">
                <select id="select-library" onchange="searchForBooks()">
                    <option value="" selected>All libraries</option>
                    @foreach (HomeLibraryApp.Models.Library library in Model.UserLibraries)
                    {
                        <option value="@library.Id">@library.Name</option>
                    }
                </select>
                <label>Library</label>
            </div>
        </div>
        <form id="form-search-book" action="#">
            <label for="searchAll">
                <input onclick="searchForBooks()" id="searchAll" name="searchGroup" type="radio" checked />
                <span>All</span>
            </label>
            <label for="searchTitle">
                <input onclick="searchForBooks()" id="searchTitle" name="searchGroup" type="radio" />
                <span>Title</span>
            </label>
            <label for="searchAuthor">
                <input onclick="searchForBooks()" id="searchAuthor" name="searchGroup" type="radio" />
                <span>Author</span>
            </label>
            <label for="searchPublisher">
                <input onclick="searchForBooks()" id="searchPublisher" name="searchGroup" type="radio" />
                <span>Publisher</span>
            </label>
        </form>
        <div id="search-book-container">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <div id="search-book-results"></div>
        </div>
    </div>
    <div id="goodreads" class="col s12">
        @using (Html.BeginForm("Add", "Library", new { lib = Request.Params["lib"], type = "goodreads" }))
        {
            <div class="input-field">
                @Html.TextBoxFor(m => m.GoodreadsUrl, new { id = "goodreads-input", oninput = "scanGoodreads()" })
                @Html.LabelFor(m => m.GoodreadsUrl)

            </div>
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <div id="goodreads-error">An error occured while retrieving the book info. Check if you provided a valid Goodreads link.</div>
            <div id="goodreads-result">

                <div class="row">
                    <div class="input-field col s12">
                        @Html.TextBoxFor(m => m.GoodreadsBookModel.Title, new { @readonly = "readonly" })
                        @Html.LabelFor(m => m.GoodreadsBookModel.Title)

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.GoodreadsBookModel.AuthorFirstname, new { @readonly = "readonly" })
                        @Html.LabelFor(m => m.GoodreadsBookModel.AuthorFirstname)
                    </div>
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.GoodreadsBookModel.AuthorLastname, new { @readonly = "readonly" })
                        @Html.LabelFor(m => m.GoodreadsBookModel.AuthorLastname)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.GoodreadsBookModel.PublicationDate, "{0: MMM dd, yyyy}", new { @readonly = "readonly" })
                        @Html.LabelFor(m => m.GoodreadsBookModel.PublicationDate)
                    </div>
                    <div class="input-field col s6">
                        @Html.TextBoxFor(m => m.GoodreadsBookModel.Publisher, new { @readonly = "readonly" })
                        @Html.LabelFor(m => m.GoodreadsBookModel.Publisher)
                    </div>
                </div>
                <input type="submit" value="Add" class="btn btn-default btn-right" />
            </div>
        }
    </div>
</div>
