@model HomeLibraryApp.Models.LibraryBookDetails
@{
    ViewBag.Title = "Book";
}

<h2>Book</h2>
<h6>@Model.Book.Title</h6>
<h6>by @Model.Book.AuthorFirstname @Model.Book.AuthorLastname</h6>
<h6>Published @Model.Book.PublicationDate by @Model.Book.Publisher</h6>
<h6>Comments:</h6>
@Html.Partial("_CommentsPartial", Model.Comments)