@model HomeLibraryApp.Models.LibraryBookDetails
@{
    ViewBag.Title = "Book";
}

<h2>Book</h2>
<h6>@Model.Book.Title</h6>
<h6>by @Model.Book.AuthorFirstname @Model.Book.AuthorLastname</h6>
<h6>Published @Model.Book.PublicationDate by @Model.Book.Publisher</h6>
<h6>Reading state:@Model.ReadingState</h6>
@using (Html.BeginForm("AddReadingState", "Library", new { lib = Request.Params["lib"], bk = Request.Params["bk"] }))
{
    if (Model.ReadingState == 0)
    {
        <button name="state" value="1">Mark as being read</button>
        <button name="state" value="2">Mark as read</button>
    }
    else if (Model.ReadingState == 1)
    {
        <button name="state" value="0">Delete from being read</button>
        <button name="state" value="2">Mark as read</button>
    }
    else if (Model.ReadingState == 2)
    {
        <button name="state" value="0">Delete from read</button>
        <button name="state" value="1">Mark as being read</button>
    }
}
<h6>Comments:</h6>
@Html.Partial("_CommentsPartial", Model.Comments)
<h6>Write a new comment:</h6>
@using (Html.BeginForm("AddComment", "Library", new { lib = Request.Params["lib"],bk=Request.Params["bk"] }))
{<div class="row">
        <div class="row">
            <div class="input-field col s12">
                @Html.TextAreaFor(m => m.YourComment, new { @class = "materialize-textarea" })
                @Html.LabelFor(m => m.YourComment)
            </div>
        </div>
</div>
    <input type="submit" class="btn btn-default" value="Add" />
}