
@{
    ViewBag.Title = "Library";
}
@model IEnumerable<HomeLibraryApp.Models.Library>
    <div class="col xl3 l3">
    <ul id="library-sidenav" class="sidenav sidenav-fixed">
        <li><div class="row"></div></li>
        <li><a class="subheader">Your library</a></li>
        @{ string linkclass = "";}
        @if (Url.RequestContext.RouteData.Values["id"]==null || Url.RequestContext.RouteData.Values["id"].ToString() == Model.First().Id.ToString())
        {
            linkclass ="active";
        }
        <li class="@linkclass">@Html.ActionLink(Model.First().Name, "", null, new { @class = "waves-effect" })</li>
        @for (int i = 1; i < Model.Count(); i++)
        {
            if (i == 1)
            {
                <li><div class="divider"></div></li>
                <li><a class="subheader">Other</a></li>
            }
            linkclass = "";
                if (Url.RequestContext.RouteData.Values["id"]!=null && Url.RequestContext.RouteData.Values["id"].ToString() == Model.ElementAt(i).Id.ToString())
                {
                    linkclass ="active";
                }
            <li class="@linkclass">@Html.ActionLink(Model.ElementAt(i).Name,"",new { id = Model.ElementAt(i).Id },new { @class = "waves-effect"})</li>
           }
    </ul>
</div>


<div id="library-content" class="col xl9 l9 m6 s12">
    <h4 class="light">@Model.First().Name</h4>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add a member</a>
    @for (int i = 1; i < Model.Count(); i++)
    {
        if (i == 1)
        {
            <h5>Your other libraries:</h5>
        }
        <h6 class="light">@Model.ElementAt(i).Name</h6>
    }

</div>

  <!-- Modal Structure -->
<div id="modal1" class="modal">
    @using (Ajax.BeginForm("Invite", "Library", new AjaxOptions { HttpMethod = "Post",
        OnComplete = "onInvitationSuccess" }))
    {
    <div class="modal-content">
        <h4>Add new member</h4>
        <p>Enter email address of the person you want to invite to your library</p>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="text" name="email">
                <label for="email">Email</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class = "modal-action modal-close waves-effect waves-green btn-flat" type="submit" value="Send invitation" />
    </div>
    }
</div>

