
@{
    ViewBag.Title = "Library";
}
@model HomeLibraryApp.Models.LibraryMain
<div class="col xl3 l3">
    <ul id="library-sidenav" class="sidenav sidenav-fixed">
        <li><div class="row"></div></li>
        <li><a class="subheader">Your library</a></li>
        @{ string linkclass = "";}
        @if (Request.Params["lib"] == null || Request.Params["lib"].ToString() == Model.LibrariesModel.First().Id.ToString())
        {
            linkclass = "active";
        }
        <li class="@linkclass">@Html.ActionLink(Model.LibrariesModel.First().Name, "", null, new { @class = "waves-effect" })</li>
        @for (int i = 1; i < Model.LibrariesModel.Count(); i++)
        {
            if (i == 1)
            {
                <li><div class="divider"></div></li>
                <li><a class="subheader">Other</a></li>
            }
            linkclass = "";
            if (Request.Params["lib"] != null && Request.Params["lib"].ToString() == Model.LibrariesModel.ElementAt(i).Id.ToString())
            {
                linkclass = "active";
            }
            <li class="@linkclass">@Html.ActionLink(Model.LibrariesModel.ElementAt(i).Name, "", new { lib = Model.LibrariesModel.ElementAt(i).Id }, new { @class = "waves-effect" })</li>
        }
    </ul>
</div>

<div id="mobile-library-select">
    @{ string curr = Request.Params["lib"] == null ? " " : Request.Params["lib"].ToString();}
    @using (Html.BeginForm("Index", "Library", FormMethod.Get))
    {
        <div class="input-field col s12">
            <select name="lib" onchange="this.form.submit()">
                <optgroup label="Your library">
                    <option value="@Model.LibrariesModel.First().Id" @((curr == "" || curr == Model.LibrariesModel.First().Id.ToString()) ? "selected" : "")> @Model.LibrariesModel.First().Name</option>
                </optgroup>
                @if (Model.LibrariesModel.Count() > 1)
                {
                    <optgroup label="Other">
                        @for (int i = 1; i < Model.LibrariesModel.Count(); i++)
                        {
                            <option value="@Model.LibrariesModel.ElementAt(i).Id" @(curr == Model.LibrariesModel.ElementAt(i).Id.ToString() ? "selected" : "")>@Model.LibrariesModel.ElementAt(i).Name</option>

                        }
                    </optgroup>
                }

            </select>
            <label>Library select</label>
        </div>
    }
</div>
<div id="library-content" class="col xl9 l9 m6 s12">
    <a class="waves-effect waves-light btn modal-trigger" href="#modalMember">Add a member</a>
    @Html.ActionLink("Add a book", "Add", new { lib = Request.Params["lib"] }, new { @class = "waved-effect waves-light btn" })
    @Html.Partial("_BooksPartial", Model.BooksModel)
    @if (Model.BooksModel.Count() > 0)
    {
        <ul class="pagination">
            @{
                int currentPage;
                if (Request.Params["page"] == null)
                {
                    currentPage = 1;
                }
                else
                {
                    currentPage = Convert.ToInt32(Request.Params["page"].ToString());
                }
                if (currentPage > 1)
                {
                    string url = Request.Url.LocalPath + (Request.Params["lib"] != null ? "?lib=" + Request.Params["lib"] + "&" : "?") + "page=" + (currentPage - 1);
                    <li class="waves-effect"><a href="@url"><i class="material-icons">chevron_left</i></a></li>
                }
                else
                {
                    <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                }
                for (int i = 1; i <= ViewBag.PagesNr; i++)
                {
                    if (i == currentPage)
                    {
                        <li class="active">@Html.ActionLink(i.ToString(), null, new { lib = Request.Params["lib"], page = i })</li>
                    }
                    else
                    {
                        <li class="waves-effect">@Html.ActionLink(i.ToString(), null, new { lib = Request.Params["lib"], page = i })</li>
                    }
                }
                if (currentPage == ViewBag.PagesNr)
                {
                    <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                }
                else
                {
                    string url = Request.Url.LocalPath + (Request.Params["lib"] != null ? "?lib=" + Request.Params["lib"] + "&" : "?") + "page=" + (currentPage + 1);
                    <li class="waves-effect"><a href="@url"><i class="material-icons">chevron_right</i></a></li>
                }
            }
        </ul>
                }
</div>

<!-- New member modal -->
<div id="modalMember" class="modal">
    @using (Ajax.BeginForm("Invite", "Library", new AjaxOptions
    {
        HttpMethod = "Post",
        OnComplete = "onInvitationComplete"
    }))
    {
        <div class="modal-content">
            <h4>Add new member</h4>
            <p>Enter email address of the person you want to invite to your library</p>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="text" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" value="Send invitation" />
        </div>
    }
</div>