
@{
    ViewBag.Title = "Library";
}
@model HomeLibraryApp.Models.LibraryMain
<div class="col xl3 l3">
    <ul id="library-sidenav" class="sidenav sidenav-fixed">
        <li><div class="row"></div></li>
        <li><a class="subheader">Your library</a></li>
        @{ string linkclass = "";}
        @if (Url.RequestContext.RouteData.Values["id"] == null || Url.RequestContext.RouteData.Values["id"].ToString() == Model.LibrariesModel.First().Id.ToString())
        {
            linkclass = "active";
        }
        <li class="@linkclass">@Html.ActionLink(Model.LibrariesModel.First().Name, "", null, new { @class = "waves-effect" })</li>
        @for (int i = 1; i < Model.LibrariesModel.Count(); i++)
        {
            if (i == 1)
            {
                <li><div class="divider"></div></li>
                <li><a class="subheader">Other</a></li>
            }
            linkclass = "";
            if (Url.RequestContext.RouteData.Values["id"] != null && Url.RequestContext.RouteData.Values["id"].ToString() == Model.LibrariesModel.ElementAt(i).Id.ToString())
            {
                linkclass = "active";
            }
            <li class="@linkclass">@Html.ActionLink(Model.LibrariesModel.ElementAt(i).Name, "", new { id = Model.LibrariesModel.ElementAt(i).Id }, new { @class = "waves-effect" })</li>
        }
    </ul>
</div>


<div id="library-content" class="col xl9 l9 m6 s12">
    <a class="waves-effect waves-light btn modal-trigger" href="#modalMember">Add a member</a>
    @Html.ActionLink("Add a book", "Add", new { id = Url.RequestContext.RouteData.Values["id"] }, new { @class = "waved-effect waves-light btn" })
    @Html.Partial("_BooksPartial", Model.BooksModel)
</div>

<!-- New member modal -->
<div id="modalMember" class="modal">
    @using (Ajax.BeginForm("Invite", "Library", new AjaxOptions
    {
        HttpMethod = "Post",
        OnComplete = "onInvitationComplete"
    }))
    {
        <div class="modal-content">
            <h4>Add new member</h4>
            <p>Enter email address of the person you want to invite to your library</p>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="text" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" value="Send invitation" />
        </div>
    }
</div>

<!-- New book modal-->
<div id="modalBook" class="modal">
    <div id="new-book-card" class="card">
        <div class="card-content">
            <h4>Add a new book</h4>
        </div>
        <div class="card-tabs">
            <ul id="new-book-tabs" class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#tabNew">New book</a></li>
                <li class="tab"><a href="#tabExisting">Existing book</a></li>
                <li class="tab"><a href="#tabGoogle">Google book</a></li>
            </ul>
        </div>
        <div class="card-content">
            <div id="tabNew">
@using (Ajax.BeginForm("AddNewBook", "Library",new {id= Url.RequestContext.RouteData.Values["id"] }, new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId="books-partial"
}))
{
                <div class="row">
                    <div class="input-field col s12">
                        @Html.TextBoxFor(m => m.NewBookModel.Title)
                        @Html.LabelFor(m => m.NewBookModel.Title)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 s12">
                        @Html.TextBoxFor(m => m.NewBookModel.AuthorFirstname)
                        @Html.LabelFor(m => m.NewBookModel.AuthorFirstname)
                    </div>
                    <div class="input-field col l6 s12">
                        @Html.TextBoxFor(m => m.NewBookModel.AuthorLastname)
                        @Html.LabelFor(m => m.NewBookModel.AuthorLastname)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 s12">
                        @Html.TextBoxFor(m => m.NewBookModel.PublicationDate, "{0: MMM dd, yyyy}", new { @class = "datepicker" })
                        @Html.LabelFor(m => m.NewBookModel.PublicationDate)
                    </div>
                    <div class="input-field col l6 s12">
                        @Html.TextBoxFor(m => m.NewBookModel.Publisher)
                        @Html.LabelFor(m => m.NewBookModel.Publisher)
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" value="Add" />
                </div>
}
            </div>
            <div id="tabExisting">Test 2</div>
            <div id="tabGoogle">Test 3</div>
        </div>
    </div>
</div>
